// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "managerEnabled": "true",
  "beaconEnabled": "true",
  "showTexture": "true",
  "showStaticBeam": "true",
  "showRotatingBeam": "true",
  "showName": "true",
  "showDistance": "true",
  "autoHideLabel": "true",
  "showDeviationLabel": "false",
  "disableStrikeThrough": "false",
  "boldLabel": "false",
  "fontScale": "2.0",
  "textureSmall": "true",
  "shaderBeacon": "false",
  "maxDistance": "200",
  "minDistance": "20",
  "createDeathpoints": "true",
  "autoRemoveDeathpoints": "true",
  "autoRemoveDeathpointDistance": "5",
  "autoRemoveTempWaypoints": "10",
  "showDeathpointlabel": "true",
  "fullscreenDoubleClickToCreate": "false",
  "teleportCommand": "/tp {name} {x} {y} {z}",
  "dateFormat": "dd-MM-yy",
  "timeFormat": "HH:mm:ss",
  "managerDimensionFocus": "true",
  "configVersion": "5.9.7"
}