// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "logLevel": "OFF",
  "autoMapPoll": "2000",
  "cacheAnimalsData": "3100",
  "cacheMobsData": "3000",
  "cachePlayerData": "1000",
  "cachePlayersData": "2000",
  "cacheVillagersData": "2200",
  "announceMod": "false",
  "checkUpdates": "false",
  "recordCacheStats": "false",
  "themeName": "DesertTemple",
  "caveIgnoreGlass": "true",
  "mapBathymetry": "false",
  "mapWaterBiomeColors": "true",
  "mapTopography": "true",
  "mapBiome": "true",
  "mapTransparency": "true",
  "mapCaveLighting": "true",
  "mapAntialiasing": "true",
  "mapPlantShadows": "true",
  "mapPlants": "true",
  "mapCrops": "true",
  "mapBlendGrass": "true",
  "mapBlendFoliage": "true",
  "mapBlendWater": "true",
  "mapSurfaceAboveCaves": "true",
  "caveBlackAsClear": "true",
  "renderDistanceCaveMax": "0",
  "renderDistanceSurfaceMax": "0",
  "renderDelay": "3",
  "revealShape": "Circle",
  "alwaysMapCaves": "false",
  "alwaysMapSurface": "false",
  "tileHighDisplayQuality": "true",
  "maxAnimalsData": "32",
  "maxMobsData": "20",
  "maxPlayersData": "32",
  "maxVillagersData": "32",
  "hideSneakingEntities": "true",
  "hideSpectators": "true",
  "radarLateralDistance": "64",
  "radarVerticalDistance": "16",
  "tileRenderType": "1",
  "dataCachingEnabled": "true",
  "glErrorChecking": "false",
  "seedId": "true",
  "mappingEnabled": "true",
  "optionsManagerViewed": "5.9.7",
  "splashViewed": "5.9.7",
  "gridSpecs": {
    "day": "SquaresWithRegion,#808080,0.25,-1,-1",
    "night": "SquaresWithRegion,#8080ff,0.15,-1,-1",
    "underground": "SquaresWithRegion,#808080,0.15,-1,-1"
  },
  "colorPassive": "#bbbbbb",
  "colorHostile": "#ff0000",
  "colorPet": "#0077ff",
  "colorVillager": "#88e188",
  "colorPlayer": "#ffffff",
  "colorSelf": "#0000ff",
  "verboseColorPalette": "false",
  "configVersion": "5.9.7"
}